:root {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}
  

body {
    background-image: url("assets/Dicas-de-viagens-em-Arraial-do-Cabo-Guia-Viajar-Melhor.webp");
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
}

#page {
    box-sizing: border-box;
   width:700px;
   padding: 24px;
   background-color: rgb(131, 190, 227);
   border-radius: 24px;
   margin: 48px auto;
}

.imagem {
    border-radius: 10px;
     width: 650px;
    
}

.lists-container {
    display: flex;         
    flex-wrap: wrap;       
    gap: 24px;             
    justify-content: center; 
    padding: 20px 0;
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }
}

.list-card {
    flex: 1 1 250px;       
    max-width: 320px;      
    background-color: #749c7c; 
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.05); 
}

.list-card h4 {
    margin-top: 0;
    color: bisque;
    border-bottom: 2px solid bisque;
    padding-bottom: 8px;
}

footer {
    text-align: center;
    color: bisque;
    font-size: 20px;
}

h1, h2 {
    font-family: 'Pacifico', cursive;
    color: #3a5b61; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
    justify-content: center;
}