nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
    gap: 15px;
    display: flex;
    text-align: center;


}
nav-link {
    font-family: Arial, sans-serif;
    padding: 8px 16px;     
    display: inline-block; 
    text-align: center;

}

h1 {
    font-family: Arial, sans-serif;
    color: #ff0000;
    text-align: center;
}
p {
    font-family: Arial, sans-serif;
    color: #333333;
    line-height: 1.6;
    margin: 20px;
    border: 1px solid #ff0000;
    width: 900px;
    text-align: center;
}